*.py[cod]
.*
!.babelrc
!.circleci
!.codeclimate.yml
!.pre-commit-config.yaml
!.coveragerc
!.dockerignore
!.editorconfig
!.gitattributes
!.gitlab-ci.yml
!.isort.cfg
!.eslintrc.json
!.flowconfig
!.github
!.gitignore
!.gqlconfig
!.mjmlconfig
!.npmrc
!.nvmrc
!.plop
!.pylintrc
!.testcafe
!.travis*
!.tx
*.css
*.log
*.pot
*.pyc
local_settings.py
__pycache__/
build/
coverage/
dist/
venv
*\.egg*
# data
/media/
/node_modules/
/static/

# Exported results file
django-queries-results.html
